.sectionTop {
  height: 800px;
  background-image: url("../img/main.jpg");
  background-position: center;
  position: relative;

  //background-size: contain;
  .content {
    & > * {
      @include text-center;
    }
  }
  .sectionTop__header {
    font-weight: bold;
    font-size: 82px;
    line-height: 82px;
    color: #FFFFFF;
    padding-top: 180px;
    margin-bottom: 18px;
  }
  .sectionTop__subtext {
    font-family: Lato;
    font-size: 30px;
    line-height: 30px;
    color: #8D81AC;
    margin-bottom: 18px;
  }
  .sectionTop__verText {
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #848E97;
  }

  .sectionTop__downLoadBlock {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: -58px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .sectionTop__downLoadBtn {
      font-weight: bold;
      font-size: 21px;
      line-height: 22px;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
      width: 390px;
      height: 62px;
      background: #8D81AC;
      border-radius: 40px;
      text-decoration: none;
      border: 2px solid #8D81AC;
      &:hover {
        color: #8D81AC;
        background: #ffffff;
      }
    }
    .sectionTop__downLoadTxt {
      font-size: 14px;
      line-height: 15px;
      display: flex;
      color: #848E97;
      text-align: center;
      justify-content: center;
      margin-top: 10px;
    }
  }
}



@media screen and (min-width: 1600px) {
  .sectionTop {
    background-size: 86%;
  }
}

@media screen and (max-width: 1199px) {
  .sectionTop {
    .sectionTop__header {
      font-size: 72px;
      line-height: 72px;
    }
    .sectionTop__subtext {
      font-size: 24px;
      line-height: 24px;
    }
    .sectionTop__verText {
      font-size: 14px;
      line-height: 14px;
    }

  }
}

@media screen and (max-width: 767px) {
  .sectionTop {
    height: 718px;
    background-size: cover;
    .sectionTop__header {
      font-size: 48px;
      line-height: 48px;
    }
    .sectionTop__subtext {
      font-size: 18px;
      line-height: 24px;
    }
    .sectionTop__verText {
      font-size: 14px;
      line-height: 14px;
    }
    .sectionTop__downLoadBlock {
      bottom: -50px;
      .sectionTop__downLoadBtn {
        font-size: 18px;
        line-height: 20px;
        width: 290px;
        height: 45px;
      }
    }
  }
}
